{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% assign subHeading = post.subHeading | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
  {% assign subHeading = post.subHeading %}
{% endif %}
<article itemscope itemtype="https://schema.org/CreativeWork">
  <div class="post-preview">
    <a href="{{ post.url | relative_url }}" rel="permalink">
      <h2 class="post-title">{{ title }}</h2>
      <h3 class="post-subtitle">{{ subHeading }}</h3>
    </a>

    <p class="post-meta">Posted on {{ post.date | date: "%B %d, %Y" }}</p>
    <hr>
  </div>
</article>