---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('/assets/img/home-hero.jpg')">
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 id="title">{{ title }}</h1>
                    <h2 class="subheading">{{ subHeading }}</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article itemscope itemtype="http://schema.org/BlogPosting">
    <meta itemprop="name" content="{{ title }}" />
    <meta itemprop="headline" content="{{ subHeading }}" />
    <meta itemprop="datepublished" content="" />
    <meta itemprop="image" content="https://tristangriffiths.net/assets/img/hero-home.jpg" />			
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" itemprop="articleBody">
                {{ content }}
            </div>
        </div>
    </div>
</article>